@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
}
    
body{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    background-image: linear-gradient(to right bottom, #000000, #060606, #0b0b0b, #101010, #141414, #17161c, #1a1825, #1d192d, #21183c, #27164a, #301158, #3b0464);
    background-color: #1a1818;
    color: #ffffff;
    height: 100vh;
    position: relative;
}

.contenidoEfecto{
    opacity: 0;
    transition: opacity 2s, transform 3s; 
}

.contenidoEfecto.mostrar{
    opacity: 1;
}

.logoPrincipal{
    width: 85px;
    height: 85px;
}

.logoMenuPrincipal{
    width: 30px;    
    height: 30px;
}

/* Menú Index*/
.offcanvas{
    background-image: linear-gradient(to right bottom, #000000, #060606, #0b0b0b, #101010, #141414, #17161c, #1a1825, #1d192d, #21183c, #27164a, #301158, #3b0464);
    .offcanvas-title{
        color: #55ffe2;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 1.3rem;
    }
    .btn-close{
        background-color: #55ffe2;
    }
    .nav-link{
        color: #ffffff;
        text-decoration: none;
        font-size: 1.1rem;
        padding: 10px 15px 10px 15px;
        margin-top: 5px;
        margin-left: 40px;
        border: 3px;
    }    
    .nav-link.colorActive{
        background-color: #37035c;
        color: #55ffe2;
    }
    .nav-link:hover, .nav-link:focus {
        color: #55ffe2;
    }
    .offcanvas-footer {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 100%;
        padding: 10px;
        line-height: 1.1;
    }
}

/* Menú */
.navbar{
    background-color: #0f001a;
    box-shadow: 0 4px 15px rgba(80, 80, 80, 0.123);
    .navbar-brand{
        color: #55ffe2;
    }
    .logoMenu{
        width: 40px;    
        height: 40px;
    }
    .nav-link{
        color: #ffffff;
        text-decoration: none;
        font-size: 1.1rem;
        padding: 10px 20px 10px 20px;
        margin: 10px;
        border: 1px solid transparent;
    }    
    .nav-link.colorActive{
        background-color: #37035c;
        color: #55ffe2;
        border-radius: 5px;
    }
    .nav-link:hover, .nav-link:focus {
        color: #55ffe2;
        border: 1px solid #37035c;
        border-radius: 5px;
    }
}

.fa-bars{
    color: #55ffe2;
}

h1{
    font-size: 3.9rem;
    color: #55ffe2;
}

h2{
    font-size: 2.1rem;
    color: #8806e6;
    margin-top: -15px;
}

h5{
    color: #1a1818;
}

.mensajePrincipal{
    position: absolute;
    width: auto;
    height: auto;
    top: 120px;
    left: 120px;
}
@media screen and (max-width: 768px){
    .mensajePrincipal {
        top: 100px;
        left: 70px;
    }
    h1{
        font-size: 3.5rem;
        color: #55ffe2;
    }

    h2{
        font-size: 1.8rem;
        color: #8806e6;
        margin-top: -15px;
    }
}

/*Potencial*/
.tituloPotencial{
    font-size: 3.2vw;
    color: #8806e6;
    width: 70%;
    line-height: 0.8;
}
.imagenPotencial {
    width: 305px;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.imagenPotencial:hover {
    transform: scale(0.9);
    opacity: 0.7;
}
.divPotencial {
    position: absolute;
    width: auto;
    height: auto;
    top: 8%;
    left: 50%;
}
.texto-izquierda {
    position: absolute;
    top: 77%;
    transform: translateY(-50%);
    background-color: rgba(184, 184, 184, 0.308); 
    font-size: 1.3rem;
    width: 130px;
    min-height: 60px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease; 
    backdrop-filter: blur(3px);
    border-radius: 3px;
    border: 1px solid #55ffe2;
}
.texto-derecha {
    position: absolute;
    top: 77%; 
    transform: translateY(-50%);
    background-color: rgba(184, 184, 184, 0.308); 
    font-size: 1.3rem;
    width: 130px;
    min-height: 60px;
    text-align: center;
    padding: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease;
    backdrop-filter: blur(3px);
    border-radius: 3px;
    border: 1px solid #55ffe2;
}
.texto-izquierda {
    left: 1.1%; 
    color: #55ffe2;
}
.texto-derecha {
    right: 1.1%; 
    color: #55ffe2;
}
.container-imagen:hover .texto-izquierda,
.container-imagen:hover .texto-derecha {
    opacity: 1;
}
.texto-inferior-izquierda {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #999;
}
.whatsapp-logo {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 1000;
}
.whatsapp-logo img {
    width: 54px;
    height: 54px;
}

.social-icons {
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    padding: 10px;
}

.social-icons a img {
    width: 24px; /* Ajusta según sea necesario */
    margin-top: -190px;
    margin-left: 8px;
}

.social-icons p {
    font-size: 14px; /* Ajusta según sea necesario */
    margin: 10px 0 0;
}

/* Galeria Principal*/
.galeriaFotos{
    width: 650px;
    margin: 10% auto auto 49.8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 305px 305px;
    grid-template-areas: "grilla1 grilla3"
                         "grilla2 grilla4";
    gap: 20px;   
    .g1{
        grid-area: grilla1;
        position: relative;
    }
    .g2{
        grid-area: grilla2;
        position: relative;
    }
    .g3{
        grid-area: grilla3;
        position: relative;
    } 
    .g4{
        grid-area: grilla4;
        position: relative;
    } 
    
    .g1, .g2, .g3, .g4 {
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }
}
@media screen and (max-width: 768px){
    .galeriaFotos{
        width: 85%;
        grid-template-rows: 150px 150px 120px 180px;
        gap: 20px;
    }
}


/* Estilos Plazo Fijo y Crédito */
.containerPF {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.contentPF {
    width: auto;
    height: auto;
    text-align: center;
}
.btnAcceso{
    background-color: #1a1818;
    color: #55ffe2;
    border: 1px solid #55ffe2;
    font-size: 1rem;
    margin: 15px;
    &:hover{
        background-color: #55ffe2;
        color: #1a1818;
    }
    &:active{
        background-color: #55ffe2;
        color: #1a1818;
    }
    &:focus{
        background-color: #55ffe2;
        color: #1a1818;
    }
}


/*Ventana ERROR*/
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-image: linear-gradient(to right bottom, #000000, #060606, #0b0b0b, #101010, #141414, #17161c, #1a1825, #1d192d, #21183c, #27164a, #301158, #3b0464);
    border: 1px solid #fff;
    padding: 30px;
    width: 400px; 
    height: 210px;
    box-shadow: 0 4px 15px rgba(80, 80, 80, 0.123);
    display: none;
    z-index: 9999;
}
.custom-alert button {
    position: fixed;
    top: 145px;
    left: 160px;
    background-color: transparent;
    color: #55ffe2;
    border: 1px solid #55ffe2;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    &:hover{
        background-color: #55ffe2;
        color: #1a1818;
    }
}
.imgError{
    position: fixed;
    width: 70px;    
    height: 70px;
    top: -35px;
    left: 165px;
}
.txtError{
    position: fixed;
    left: 0px;
    font-size: 1.3rem;
    margin: 35px 10px 20px 10px;
    text-align: center;
}

/*Ventana OK Mostrar Tasa Interés*/
.custom-alertTasa {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-image: linear-gradient(to right bottom, #000000, #060606, #0b0b0b, #101010, #141414, #17161c, #1a1825, #1d192d, #21183c, #27164a, #301158, #3b0464);
    border: 1px solid #fff;
    padding: 30px;
    width: 400px; 
    height: 210px;
    box-shadow: 0 4px 15px rgba(80, 80, 80, 0.123);
    display: none;
    z-index: 9999;
}
.custom-alertTasa button {
    position: fixed;
    top: 145px;
    left: 160px;
    background-color: transparent;
    color: #55ffe2;
    border: 1px solid #55ffe2;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    &:hover{
        background-color: #55ffe2;
        color: #1a1818;
    }
}


/*Ventana OK Mostrar Tasas*/
.custom-alertTVigente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-image: linear-gradient(to right bottom, #000000, #060606, #0b0b0b, #101010, #141414, #17161c, #1a1825, #1d192d, #21183c, #27164a, #301158, #3b0464);
    border: 1px solid #fff;
    padding: 30px;
    width: 400px; 
    height: 270px;
    box-shadow: 0 4px 15px rgba(80, 80, 80, 0.123);
    display: none;
    z-index: 9999;
}
.custom-alertTVigente button {
    position: fixed;
    top: 200px;
    left: 160px;
    background-color: transparent;
    color: #55ffe2;
    border: 1px solid #55ffe2;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    &:hover{
        background-color: #55ffe2;
        color: #1a1818;
    }
}
.imgOK{
    position: fixed;
    width: 70px;    
    height: 70px;
    top: -35px;
    left: 165px;
}
.txtOK{
    position: fixed;
    left: 0px;
    font-size: 1.3rem;
    margin: 35px 10px 20px 10px;
    text-align: center;
}

/*Imagen de Fondo Flazo Fijo y Crédito*/
.columna-imagen {
    height: 100vh;
    display: flex;
    align-items: stretch;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.columna-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.columna-imagen:hover img {
    opacity: 0.8;
    transform: scale(1.04);
}

.tituloPrincipal{
    font-size: 2.4rem;
    color: #55ffe2;
    text-align: center;
    padding: 11% 2% 0.5% 2%;
}
.tituloSecundario{
    font-size: 1.3rem;
    color: #ccc;
    text-align: center;
    padding: 0% 15% 1% 15%;
}
.full-height {
    height: 100vh;
    position: relative;
}
.textoChico {
    font-size: 0.9rem;
    color: #ccc;
    position: absolute;
    bottom: 0;
    width: auto;
    text-align: center;
    padding: 2%;
}

/*Formulario Plazo Fijo*/
.formDiv{
    padding-top: 4%;
    display: flex;
    justify-content: center; 
    .formPF{
        .txtEtiqueta{
            font-size: 1.4rem;
            color: #55ffe2;
            text-align: left;
            font-weight: normal;
            padding-left: 5px;
            padding-bottom: 5px;
        }
        .txtCampo{
            width: 100%;
            text-align: center;
            font-size: 1.1rem;
            background-color: transparent;
            color: #55ffe2;
            border: 1px solid #55ffe2;
            border-radius:7px;
            padding: 10px;
            margin: 5px 5px 20px 5px;
        }
        .txtCampo:active{
            background-color: #ccc;
        }
        .txtCampo:focus {
            color: #55ffe2;
            background-color: #8906e62a;
            border-color: #8806e6;
            outline: 0;
            box-shadow: 0 0 0 0.1rem #000000;
        }
        .divBotones {
            display: flex;
            justify-content: flex-end;
            margin: 0 30px 0 30px;
        }
        .botonFormBorrar{
            width: 120px;
            background-color: transparent;
            color: #55ffe2;
            border: 1px solid #55ffe2;
            border-radius: 25px;
            font-size: 1rem;
            text-align: center;
            padding: 10px;
            margin: 15px 5px 5px 5px;
            cursor: pointer;
            transition: background-color 1s ease, color 1s ease;
        }
        .botonFormBorrar:hover{
            background-color: #55ffe2;
            color: #ccc;
        }
        .botonForm{
            width: 120px;
            background-color: transparent;
            color: #ccc;
            border: 1px solid #55ffe2;
            border-radius: 25px;
            font-size: 1rem;
            text-align: center;
            padding: 10px;
            margin: 15px 5px 5px 5px;
            cursor: pointer;
            transition: background-color 1s ease, color 1s ease;
        }
        .botonForm:hover{
            background-color: #55ffe2;
            color: #ccc;
        }     
    }
}
@media screen and (max-width: 768px){
    .tituloContacto{
        text-align: center;
        margin-top: 30px;
    }
}

/*Formulario Contacto*/
.formDivContacto{
    padding-top: 4%;
    display: flex;
    justify-content: center; 
    .formPFContacto{
        width: 40%;
        .txtEtiqueta{
            font-size: 1.4rem;
            color: #55ffe2;
            text-align: left;
            font-weight: normal;
            padding-left: 5px;
            padding-bottom: 5px;
        }
        .txtCampo{
            width: 100%;
            text-align: center;
            font-size: 1.1rem;
            background-color: transparent;
            color: #55ffe2;
            border: 1px solid #55ffe2;
            border-radius:7px;
            padding: 10px;
            margin: 5px 5px 20px 5px;
        }
        .txtCampo:active{
            background-color: #ccc;
        }
        .txtCampo:focus {
            color: #55ffe2;
            background-color: #8906e62a;
            border-color: #8806e6;
            outline: 0;
            box-shadow: 0 0 0 0.1rem #000000;
        }
        .divBotones {
            display: flex;
            justify-content: flex-end;
            margin: 0 30px 0 30px;
        }
        .botonFormBorrar{
            width: 120px;
            background-color: transparent;
            color: #55ffe2;
            border: 1px solid #55ffe2;
            border-radius: 25px;
            font-size: 1rem;
            text-align: center;
            padding: 10px;
            margin: 15px 5px 5px 5px;
            cursor: pointer;
            transition: background-color 1s ease, color 1s ease;
        }
        .botonFormBorrar:hover{
            background-color: #55ffe2;
            color: #ccc;
        }
        .botonForm{
            width: 120px;
            background-color: transparent;
            color: #ccc;
            border: 1px solid #55ffe2;
            border-radius: 25px;
            font-size: 1rem;
            text-align: center;
            padding: 10px;
            margin: 15px 5px 5px 5px;
            cursor: pointer;
            transition: background-color 1s ease, color 1s ease;
        }
        .botonForm:hover{
            background-color: #55ffe2;
            color: #ccc;
        }     
    }
}
@media screen and (max-width: 768px){
    .tituloContacto{
        text-align: center;
        margin-top: 30px;
    }
}

/*Formulario Cotizaciones*/
.divTab{
    .tituloTab{
        font-size: 1.8rem;
        color: #55ffe2;
        margin-top: 40px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .textoTab{
        font-size: 1.3rem;
        color: #fff;
        margin-top: 10px;
        text-align: center;
    }
    
    .textoPromTab{
        font-size: 1.3rem;
        color: #fff;
        margin-top: 30px;
        text-align: center;
    }
    
    .textoPeqTab{
        font-size: 0.9rem;
        color: #fff;
        margin-top: 20px;
        text-align: center;
    }
    
    .nav{
        width: 65%;
        padding-top: 4%;
        display: flex;
        margin: 0 auto;
        border-color: #8806e6;
        .nav-link{
            border-color: #8806e6;
            color: #8806e6;
            padding: 15px;
        }
        .navegacion{
            font-size: 1.3rem;
        }
    }
}



/* Resultados del Plazo Fijo */
.divResultados {
    margin: 0 auto;
    width: fit-content;
    width: 40%;
    .table {
        border-collapse: collapse;
        margin: 10% 0% 10% 0%;
    }
    .tr{
        border: none;
    }
    .td {
        border: none;
        vertical-align: middle;
    }
    .txtTabla {
        font-size: 1.1rem;
        color: #55ffe2;
        padding: 0px;
        border: none;
        text-align: center;
    }
    .plazo {
        font-size: 1.1rem;
        color: #55ffe2;
        padding: 0px;
        border: none;
    }
    .tasa {
        font-size: 1.1rem;
        color: #55ffe2;
        padding: 0px;
    }
    .capital {
        font-size: 1.1rem;
        color: #55ffe2;
        padding: 0px;
    }
    .intereses {
        font-size: 1.1rem;
        color: #55ffe2;
        padding: 0px;
    }
    .monto {
        font-size: 1.5rem;
        color: #55ffe2;
        padding: 20px 0px 0px 0px;
    }   
    .txtTablaTotal {
        font-size: 1.5rem;
        color: #55ffe2;
        padding: 20px 0px 0px 0px;
    }
}

/*Resultados Prestamo*/
.divResultadosPrestamo {
    margin: 0 auto;
    width: fit-content;
    width: 40%;
    color: #55ffe2;
    padding-bottom: 30px;
}
.textoChicoPrestamo{
    font-size: 0.9rem;
    color: #ccc;
    position: absolute;
    bottom: 0;
    width: auto;
    text-align: center;
    padding: 2%;
}

/* Cambiar Estilos Modal */
.modal-content {
    background-image: linear-gradient(to right bottom, #000000, #060606, #0b0b0b, #101010, #141414, #17161c, #1a1825, #1d192d, #21183c, #27164a, #301158, #3b0464);
}
.modal-title {
    color: #55ffe2;
}
.modal-body {
    text-align: center;
    padding-top: 30px;
    color: #55ffe2;
}

/*Promociones*/
.promociones{
    padding-top: 18px; 
    .promocion{
        width: 40%;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.2;
        transition: opacity 0.5s ease;
    }
}

/*Texto Ventana Tasas Vigentes*/
.txtTasas{
    position: fixed;
    width: 95%;
    left: 0px;
    font-size: 1.3rem;
    margin: 35px 10px 20px 10px;
    text-align: center;
}
.pTitTasas{
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    color: #8806e6;
    margin-top: -5px;
    margin-bottom: 20px;
}
.pTasas{
    font-size: 1.1rem;
    text-align: center;
    font-weight: normal;
    color: #ccc;
    line-height: 1rem;
    margin-top: -7px;
}